.entryScreen {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: center / cover no-repeat url("/src/assets/entryscreen.png");
  background: center center no-repeat cover;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.entryLogo {
  width: 200px;
  margin-top: 20px;
}

.entryContent {
  position: fixed;
  bottom: 20px;
  background: var(--light);
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
}

.entryContent h1 {
  margin: 15px 0;
}

.entryBtns {
  margin: 15px 0 0 0;
}

.entryBtn {
  margin: 0 10px;
}
