.logLeft {
  display: flex;
  flex: wrap;
  align-items: center;
}

.severityBadge {
  margin-right: 30px;
}

.severityTitle {
  display: block;
  font-weight: 200;
  margin-bottom: 10px;
}

.severityValue {
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: var(--orange-dark);
}

.symptomLogName {
  font-weight: 900;
  font-size: 20px;
}
