.btn {
  border-style: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 25px;
  transition: 0.3s;
  cursor: pointer;
}

.primaryButton {
  color: var(--light);
  background-color: var(--primary-shadow);
}

.primaryButton:hover {
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
}

.secondaryButton {
  color: var(--dark);
  background-color: var(--mint);
  margin-right: 10px;
}

.secondaryButton:hover {
  background-color: var(--bright-teal);
  box-shadow: var(--inner-box-shadow);
}

.smallButton {
  color: #7c8486;
  font-size: 14px;
  background-color: var(--light);
  font-weight: 500;
  border-style: none;
  padding: 10px 15px;
  width: 100%;
  margin: 20px 0 0 0;
  border-radius: 8px;
  transition: 0.3s;
}

.smallButton:hover {
  color: var(--dark);
  background-color: #e8e9ed;
  box-shadow: inset 6px 8px 4px rgba(0, 0, 0, 0.01),
    inset 3px 4px 3px rgba(0, 0, 0, 0.02), inset 1px 2px 2px rgba(0, 0, 0, 0.03),
    inset 0px 0px 1px rgba(0, 0, 0, 0.04);
  transition: 0.3s;
}

.fullWidthBtn {
  width: 100%;
}

.delLogButton {
  color: var(--primary-shadow);
  border-style: none;
  padding: 5px;
  position: relative;
  top: 5px;
  right: 5px;
  transition: 0.3s;
}

.delLogButton:hover {
  color: var(--dark);
  background-color: #d2d9db;
  border-radius: 5px;
  transition: 0.3s;
}

.delBadge {
  color: #98c3cc;
  transition: 0.3s;
}

.delBadge:hover {
  color: #aedee8;
  transition: 0.3s;
}
