.symptomsSection {
  margin: 40px 0;
  padding-bottom: 20px;
}

.medLogSection {
  margin-bottom: 40px;
}

.flexContainer {
  justify-content: center;
  align-items: center;
}

.noLogMessage {
  margin: 15px 0;
}
