header {
  background-color: #e8e9ed;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  /* margin: 0 10px 0 10px; */
  /* border-radius: 50px; */
  display: flex;
  justify-content: center;
}

header img {
  width: 200px;
}
